---
interface Props {
    title: string;
    checkForPassword?: boolean;
}

import Navigation from '../components/Navigation.astro';
import PasswordProtect from '../components/PasswordProtect.astro';
import { checkPassword } from '../lib/middleware/auth';

const { title, checkForPassword = true } = Astro.props;
const isLoggedIn = checkPassword(Astro.request);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="HubSpot CMS Tool" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        {isLoggedIn ||!checkForPassword ? (
            <>
                <Navigation />
                <slot />
            </>
        ) : (
            <PasswordProtect />
        )}
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
    }
</style>